body{
    background-color: rgba(44, 51, 73, 0.923);
}
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(113, 152, 225, 0.937);
    position: absolute;
    top: 0px; right: 0; left: 0;
    margin-top: 0%;
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgba(52, 52, 52, 0.868);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 40px;
} 

.breakfast{
    position: absolute;
    top: 100px; right: 0; left: 20px;
    color: aliceblue;
}

#b1-player{
    position: absolute;
    top: 200px; right: 0; left: 30px;
    color: aliceblue;
}

.b1{
    position: absolute;
    top: 150px; right: 0; left: 30px;
    color: aliceblue;
}

#b2-player{
    position: absolute;
    top: 200px; right: 0; left: 450px;
    color: aliceblue;
    
}

.b2{
    position: absolute;
    top: 150px; right: 0; left: 450px;
    color: aliceblue;
}

#b3-player{
    position: absolute;
    top: 200px; right: 0; left: 860px;
    color: aliceblue;
    
}

.b3{
    position: absolute;
    top: 150px; right: 0; left: 860px;
    color: aliceblue;
}

.lunch{
    position: absolute;
    top: 480px; right: 0; left: 20px;
    color: aliceblue;
}

#l1-player{
    position: absolute;
    top: 580px; right: 0; left: 30px;
    color: aliceblue;
}

.l1{
    position: absolute;
    top: 530px; right: 0; left: 30px;
    color: aliceblue;
}

#l2-player{
    position: absolute;
    top: 580px; right: 0; left: 450px;
    color: aliceblue;
    
}

.l2{
    position: absolute;
    top: 530px; right: 0; left: 450px;
    color: aliceblue;
}

#l3-player{
    position: absolute;
    top: 580px; right: 0; left: 860px;
    color: aliceblue;
    
}

.l3{
    position: absolute;
    top: 530px; right: 0; left: 860px;
    color: aliceblue;
}

.dinner{
    position: absolute;
    top: 850px; right: 0; left: 20px;
    color: aliceblue;
}

.d1{
    position: absolute;
    top:900px; right: 0; left: 30px;
    color: aliceblue;
}

#d1-player{
    position: absolute;
    top: 950px; right: 0; left: 30px;
    color: aliceblue;
}

.d2{
    position: absolute;
    top:900px; right: 0; left: 450px;
    color: aliceblue;
}

#d2-player{
    position: absolute;
    top: 950px; right: 0; left: 450px;
    color: aliceblue;
}

.d3{
    position: absolute;
    top:900px; right: 0; left: 860px;
    color: aliceblue;
}

#d3-player{
    position: absolute;
    top: 950px; right: 0; left: 860px; 
    padding-bottom: 30px;
    color: aliceblue;
}

